<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Item description</th>
      <th>Item price</th>
      <th>Purchase count</th>
      <th>Merchant</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.customer_id %></td>
      <td><%= purchase.item_description %></td>
      <td><%= purchase.item_price %></td>
      <td><%= purchase.purchase_count %></td>
      <td><%= purchase.merchant_id %></td>
      <td><%= link_to 'Show', purchase %></td>
      <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
      <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
